Repository chenxiaolong/DualBootPatcher, pull requests merged in 2018-05, with the labels that each got.

#1102 mbtool: Allow mbtool connections from any SELinux context beginning with "untrusted_app_"
  mbtool/sepolpatch.cpp
Labels: component/tool/mbtool

#1108 Initial support for patching/flashing non-Treble TouchWiz Oreo ROMs
  libmbpatcher/include/mbpatcher/patchers/odinpatcher.h
  libmbpatcher/src/patchers/odinpatcher.cpp
  odinupdater/odinupdater.cpp
Labels: component/library/libmbpatcher, component/tool/odinupdater

#1110 Add documentation for patched Odin package installation
  docs/build/App-Android.md
  docs/build/CMake.md
  docs/build/Docker.md
  docs/build/Git-Clone.md
  docs/build/Patcher-Linux.md
  docs/build/Patcher-mingw.md
  docs/build/Patcher-msvc.md
  docs/build/Utilities.md
  docs/internals/Intents.md
  docs/internals/Odin-Package-Installation.md
Labels: kind/documentation

#1111 Add Xiaomi Mi A1
  data/devices/xiaomi/05_other.yml
Labels: component/device, kind/device-request

#1112 Add support for Huawei Honor 4X (China Mobile)
  data/devices/huawei.yml
Labels: component/device, kind/device-request

#1117 odinupdater: Remove RLC and disable vaultkeeper during installation
  odinupdater/odinupdater.cpp
Labels: component/device, kind/device-request

#1118 docs: Document RLC removal process
  docs/internals/Odin-Package-Installation.md
Labels: kind/documentation

#1119 Use /proc/self/mountinfo and ensure /system is mounted read-only by default
  libmbutil/include/mbutil/fstab.h
  libmbutil/include/mbutil/mount.h
  libmbutil/src/fstab.cpp
  libmbutil/src/mount.cpp
  mbtool/installer.cpp
  mbtool/mount_fstab.cpp
  mbtool/roms.cpp
Labels: component/library/libmbutil, component/tool/mbtool

#1121 CMakeLists.txt: We actually rely on CMake 3.8 features
  CMakeLists.txt
  README.md
Labels: component/cmake

#1122 libmbutil: Remove unneeded MountError::EndOfFile error code
  libmbutil/include/mbutil/mount.h
  libmbutil/src/mount.cpp
Labels: component/library/libmbutil

#1125 Remove "Primary ROM Upgrade" nomenclature
  Android_GUI/res/values-ar/strings.xml
  Android_GUI/res/values-az/strings.xml
  Android_GUI/res/values-de/strings.xml
  Android_GUI/res/values-es/strings.xml
  Android_GUI/res/values-fr/strings.xml
  Android_GUI/res/values-hr/strings.xml
  Android_GUI/res/values-id-rID/strings.xml
  Android_GUI/res/values-it/strings.xml
  Android_GUI/res/values-iw/strings.xml
  Android_GUI/res/values-pl-rPL/strings.xml
  Android_GUI/res/values-pl/strings.xml
  Android_GUI/res/values-pt-rBR/strings.xml
  Android_GUI/res/values-pt-rPT/strings.xml
  Android_GUI/res/values-ru-rRU/strings.xml
  Android_GUI/res/values-ru/strings.xml
  Android_GUI/res/values-tr/strings.xml
  Android_GUI/res/values-vi/strings.xml
  Android_GUI/res/values-zh-rCN/strings.xml
  Android_GUI/res/values-zh-rHK/strings.xml
  Android_GUI/res/values-zh-rTW/strings.xml
  Android_GUI/res/values-zh/strings.xml
  Android_GUI/res/values/strings.xml
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/patcher/PatcherUtils.kt
  gui/mainwindow.cpp
Labels: component/gui/android, component/gui/qt

#1126 mbtool: init.cpp: Remove unused variables and functions
  mbtool/init.cpp
Labels: component/tool/mbtool

#1135 Update boringssl to 982279b366eccd9e4146036c7fcda7f72d2cbdff
  thirdparty/CMakeLists.txt
  thirdparty/boringssl/PKGBUILD
Labels: component/third-party

#1136 Update exfat to 1.2.8
  thirdparty/CMakeLists.txt
  thirdparty/exfat/PKGBUILD
Labels: component/third-party

#1137 Update liblzma to 5.2.4
  thirdparty/CMakeLists.txt
  thirdparty/liblzma/PKGBUILD
Labels: component/third-party

#1138 Update lz4 to 1.8.2
  thirdparty/CMakeLists.txt
  thirdparty/lz4/PKGBUILD
Labels: component/third-party

#1139 Rebuild libarchive against liblzma 5.2.4 and lz4 1.8.2
  thirdparty/CMakeLists.txt
  thirdparty/libarchive/PKGBUILD
Labels: component/third-party

#1140 Update procps-ng to 3.3.15
  thirdparty/CMakeLists.txt
  thirdparty/procps-ng/.gitignore
  thirdparty/procps-ng/PKGBUILD
Labels: component/third-party

#1141 Update Android dependencies to latest versions
  Android_GUI/build.gradle.in
  Android_GUI/gradle/wrapper/gradle-wrapper.properties
  Android_GUI/proguard-rules.pro
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/MainActivity.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/RomUtils.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/nativelib/LibMiniZip.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/picasso/PaletteGeneratorCallback.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/switcher/CacheRomThumbnailTask.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/switcher/RomCardAdapter.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/switcher/RomDetailActivity.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/switcher/RomDetailAdapter.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/switcher/SwitcherListFragment.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/switcher/service/CacheWallpaperTask.kt
Labels: component/gui/android

#1142 mbtool: Allow system_server to use fds from mbtool (fixes framework reboot on TW Oreo)
  mbtool/sepolpatch.cpp
Labels: component/tool/mbtool

#1145 mbtool: packages.cpp: Update private flags for Oreo
  mbtool/packages.cpp
  mbtool/packages.h
Labels: component/tool/mbtool

#1144 Add support for split archive backups
  libmbutil/include/mbutil/archive.h
  libmbutil/src/archive.cpp
  mbtool/backup.cpp
  mbtool/rom_installer.cpp
  mbtool/update_binary.cpp
Labels: component/library/libmbutil, component/tool/mbtool

#1146 Revamp reboot/shutdown mechanism
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/socket/interfaces/MbtoolInterface.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/socket/interfaces/MbtoolInterfaceV3.kt
  Android_GUI/src/mbtool/daemon/v3/ShutdownRequest.java
  Android_GUI/src/mbtool/daemon/v3/ShutdownType.java
  libmbutil/CMakeLists.txt
  libmbutil/external/android_reboot.c
  libmbutil/external/android_reboot.h
  libmbutil/include/mbutil/reboot.h
  libmbutil/src/reboot.cpp
  mbtool/daemon_v3.cpp
  mbtool/emergency.cpp
  mbtool/main.cpp
  mbtool/miniadbd/services.cpp
  mbtool/protocol/shutdown_generated.h
  mbtool/reboot.cpp
  mbtool/reboot.h
  protocol/v3/reboot.fbs
  protocol/v3/shutdown.fbs
Labels: component/library/libmbutil, component/protocol, component/tool/mbtool

#1150 mbtool: backup/restore: Combine -d and -n into single option
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/switcher/service/MbtoolTask.kt
  mbtool/backup.cpp
  mbtool/multiboot.h
Labels: component/gui/android, component/tool/mbtool

#1151 Use std::this_thread::sleep_for() instead of C/POSIX sleep functions
  libmbutil/src/path.cpp
  libmbutil/src/selinux.cpp
  libmbutil/src/vibrate.cpp
  mbtool/appsync.cpp
  mbtool/daemon.cpp
  mbtool/mount_fstab.cpp
  odinupdater/odinupdater.cpp
Labels: component/library/libmbutil, component/tool/mbtool, component/tool/odinupdater

#1152 mbtool: Replace pthread with std::thread
  mbtool/initwrapper/devices.cpp
Labels: component/tool/mbtool

#1153 libmbpio: Use Outcome for error handling
  bootimgtool/bootimgtool.cpp
  libmbpatcher/src/patchers/zippatcher.cpp
  libmbpatcher/src/private/miniziputils.cpp
  libmbpio/CMakeLists.txt
  libmbpio/include/mbpio/delete.h
  libmbpio/include/mbpio/directory.h
  libmbpio/include/mbpio/error.h
  libmbpio/include/mbpio/posix/delete.h
  libmbpio/include/mbpio/win32/delete.h
  libmbpio/src/delete.cpp
  libmbpio/src/directory.cpp
  libmbpio/src/error.cpp
  libmbpio/src/posix/delete.cpp
  libmbpio/src/win32/delete.cpp
Labels: component/library/libmbpio

#1154 mbtool: linux-api-headers is now included in the NDK
  mbtool/CMakeLists.txt
  mbtool/external/linux-api-headers/FROM_KERNEL_4.1
  mbtool/external/linux-api-headers/linux/usb/audio.h
  mbtool/external/linux-api-headers/linux/usb/cdc-wdm.h
  mbtool/external/linux-api-headers/linux/usb/cdc.h
  mbtool/external/linux-api-headers/linux/usb/ch11.h
  mbtool/external/linux-api-headers/linux/usb/ch9.h
  mbtool/external/linux-api-headers/linux/usb/functionfs.h
  mbtool/external/linux-api-headers/linux/usb/g_printer.h
  mbtool/external/linux-api-headers/linux/usb/gadgetfs.h
  mbtool/external/linux-api-headers/linux/usb/midi.h
  mbtool/external/linux-api-headers/linux/usb/tmc.h
  mbtool/external/linux-api-headers/linux/usb/video.h
Labels: component/third-party, component/tool/mbtool

#1155 libmbutils: Rebase properties implementation on bionic android-8.1.0_r29
  libmbutil/external.yaml
  libmbutil/include/mbutil/external/_system_properties.h
  libmbutil/include/mbutil/external/system_properties.h
  libmbutil/src/external/system_properties.cpp
Labels: component/library/libmbutil, component/third-party

#1158 Rebase properties code on bionic android-8.1.0_r29 and refactor the API
  libmbutil/include/mbutil/properties.h
  libmbutil/src/properties.cpp
  mbtool/CMakeLists.txt
  mbtool/daemon_v3.cpp
  mbtool/external.yaml
  mbtool/external/legacy_properties.h
  mbtool/external/legacy_property_service.cpp
  mbtool/external/legacy_property_service.h
  mbtool/external/property_service.cpp
  mbtool/external/property_service.h
  mbtool/include/util/legacy_property_service.h
  mbtool/include/util/property_service.h
  mbtool/init.cpp
  mbtool/installer.cpp
  mbtool/installer.h
  mbtool/miniadbd.cpp
  mbtool/properties.cpp
  mbtool/rom_installer.cpp
  mbtool/src/util/legacy_property_service.cpp
  mbtool/src/util/property_service.cpp
  mbtool/switcher.cpp
  mbtool/update_binary.cpp
Labels: component/library/libmbutil, component/tool/mbtool

#1159 Update to Android NDK r17
  CMakeLists.txt
  cmake/android.toolchain.cmake
  docker/common.sh
  docker/template/Dockerfile.base.in
  docs/build/Docker.md
  misc/CMakeLists.txt
Labels: component/cmake, component/docker
