Repository chenxiaolong/DualBootPatcher, pull requests merged in 2018-06, with the labels that each got.

#1164 mbtool: Remove miniadbd
  mbtool/CMakeLists.txt
  mbtool/init.cpp
  mbtool/main.cpp
  mbtool/miniadbd.cpp
  mbtool/miniadbd.h
  mbtool/miniadbd/UPSTREAM_COMMIT
  mbtool/miniadbd/adb.cpp
  mbtool/miniadbd/adb.h
  mbtool/miniadbd/adb_io.cpp
  mbtool/miniadbd/adb_io.h
  mbtool/miniadbd/adb_log.cpp
  mbtool/miniadbd/adb_log.h
  mbtool/miniadbd/adb_utils.cpp
  mbtool/miniadbd/adb_utils.h
  mbtool/miniadbd/fdevent.cpp
  mbtool/miniadbd/fdevent.h
  mbtool/miniadbd/file_sync_service.cpp
  mbtool/miniadbd/file_sync_service.h
  mbtool/miniadbd/mutex_list.h
  mbtool/miniadbd/services.cpp
  mbtool/miniadbd/sockets.cpp
  mbtool/miniadbd/sysdeps.h
  mbtool/miniadbd/transport.cpp
  mbtool/miniadbd/transport.h
  mbtool/miniadbd/transport_usb.cpp
  mbtool/miniadbd/usb_linux_client.cpp
Labels: component/tool/mbtool

#1166 Android GUI: SwitcherService.kt: Use notification channels on Android 8.0+
  Android_GUI/res/values/strings.xml
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/switcher/SwitcherService.kt
Labels: component/gui/android

#1168 mbtool: Rebase uevent code on android-8.1.0_r29
  libmbcommon/include/mbcommon/string.h
  libmbutil/include/mbutil/path.h
  libmbutil/src/path.cpp
  mbtool/CMakeLists.txt
  mbtool/external.yaml
  mbtool/include/initwrapper/cutils/uevent.h
  mbtool/include/initwrapper/devices.h
  mbtool/include/initwrapper/uevent.h
  mbtool/include/initwrapper/uevent_listener.h
  mbtool/include/initwrapper/unique_fd.h
  mbtool/include/util/uevent_thread.h
  mbtool/init.cpp
  mbtool/initwrapper/devices.cpp
  mbtool/initwrapper/devices.h
  mbtool/initwrapper/util.cpp
  mbtool/mount_fstab.cpp
  mbtool/mount_fstab.h
  mbtool/src/initwrapper/cutils/uevent.cpp
  mbtool/src/initwrapper/devices.cpp
  mbtool/src/initwrapper/uevent_listener.cpp
  mbtool/src/util/uevent_thread.cpp
  mbtool/uevent_dump.cpp
Labels: component/library/libmbcommon, component/library/libmbutil, component/tool/mbtool

#1169 libmbutil: chown.cpp: Fix missing return when chown fails
  libmbcommon/include/mbcommon/error_code.h
  libmbutil/src/chown.cpp
Labels: component/library/libmbcommon, component/library/libmbutil

#1170 mbtool,mbbootui: Set cloexec for sockets where possible
  mbbootui/daemon_connection.cpp
  mbtool/appsync.cpp
  mbtool/daemon.cpp
  mbtool/src/util/uevent_thread.cpp
Labels: component/boot-ui, component/tool/mbtool

#1171 libmbutil: remount_ro_done(): Fix incorrect check causing 1 minute delay during emergency reboot
  libmbutil/src/reboot.cpp
Labels: component/library/libmbutil

#1172 mbtool: daemon_v3.cpp: Fix sign conversion warning for mode_t variable
  mbtool/daemon_v3.cpp
Labels: component/tool/mbtool

#1173 mbtool: switcher: Small refactor of checksum properties file code
  mbtool/installer.cpp
  mbtool/switcher.cpp
  mbtool/switcher.h
Labels: component/tool/mbtool

#1174 libmbutil: command.cpp: Refactor API to use std::function and std::string_view
  libmbutil/include/mbutil/command.h
  libmbutil/src/command.cpp
  libmbutil/src/reboot.cpp
  mbtool/appsync.cpp
  mbtool/daemon_v3.cpp
  mbtool/image.cpp
  mbtool/init.cpp
  mbtool/installer.cpp
  mbtool/installer.h
  mbtool/mount_fstab.cpp
  mbtool/rom_installer.cpp
  mbtool/update_binary.cpp
  odinupdater/odinupdater.cpp
Labels: component/library/libmbutil

#1175 mbtool: mount_fstab.cpp: Actually parse VFS options when bind mounting as read-only
  mbtool/mount_fstab.cpp
Labels: component/tool/mbtool

#1176 mbtool: init.cpp: Create UeventThread as local variable
  mbtool/init.cpp
Labels: component/tool/mbtool

#1178 libmbutil: Change file_read_all() to return std::string
  examples/libmbpatcher_test.cpp
  libmbutil/include/mbutil/file.h
  libmbutil/src/cmdline.cpp
  libmbutil/src/file.cpp
  mbbootui/main.cpp
  mbtool/emergency.cpp
  mbtool/init.cpp
  mbtool/installer.cpp
  mbtool/switcher.cpp
  mbtool/utilities.cpp
Labels: component/boot-ui, component/examples, component/library/libmbutil, component/tool/mbtool

#1179 Android GUI: Remove old rickroll joke for devices with locked bootloaders
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/patcher/PatcherOptionsData.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/patcher/PatcherOptionsDialog.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/patcher/PatcherOptionsLiveData.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/patcher/RickRollDevices.kt
Labels: component/gui/android

#1180 Minor warning fixes
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/AboutFragment.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/appsharing/AppSharingSettingsFragment.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/patcher/PatchFileFragment.kt
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/switcher/service/BaseServiceTask.kt
  libmbcommon/include/mbcommon/common.h
Labels: component/gui/android, component/library/libmbcommon

#1181 Android GUI: Link to exact commit for source code and license URLs
  Android_GUI/CMakeLists.txt
  Android_GUI/build.gradle.in
  Android_GUI/res/values/strings.xml
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/AboutFragment.kt
Labels: component/gui/android

#1182 mbtool: daemon: Don't unshare mount namespace in listening process
  mbtool/daemon.cpp
Labels: component/tool/mbtool

#1184 Fix const correctness issues
  libmbbootimg/src/format/android_reader.cpp
  libmbbootimg/src/format/loki_reader.cpp
  libmbbootimg/tests/format/test_android_reader.cpp
  libmbbootimg/tests/format/test_loki_reader.cpp
  libmbcommon/include/mbcommon/file/memory.h
  libmbcommon/src/file/memory.cpp
  libmbcommon/tests/file/test_memory.cpp
  libmbcommon/tests/test_file_util.cpp
  libmbpatcher/src/patchers/odinpatcher.cpp
  libmbpatcher/src/private/miniziputils.cpp
  mbtool/utilities.cpp
Labels: component/library/libmbbootimg, component/library/libmbcommon, component/library/libmbpatcher, component/tool/mbtool

#1185 thirdparty: Install valgrind to /cache/valgrind instead of /data/local/Inst
  thirdparty/valgrind/.gitignore
  thirdparty/valgrind/PKGBUILD
Labels: component/third-party

#1186 thirdparty: Add packaging for strace
  thirdparty/strace/.gitignore
  thirdparty/strace/0001-Android.mk-Make-NDK-buildable.patch
  thirdparty/strace/PKGBUILD
Labels: component/third-party

#1187 Replace C callbacks with std::function
  examples/bingrep.cpp
  examples/libmbpatcher_test.cpp
  gui/mainwindow.cpp
  libmbbootimg/src/format/loki_reader.cpp
  libmbcommon/include/mbcommon/file/callbacks.h
  libmbcommon/include/mbcommon/file_util.h
  libmbcommon/src/file/callbacks.cpp
  libmbcommon/src/file_util.cpp
  libmbcommon/tests/file/test_callbacks.cpp
  libmbcommon/tests/test_file_util.cpp
  libmbpatcher/include/mbpatcher/cwrapper/cpatcherinterface.h
  libmbpatcher/include/mbpatcher/patcherinterface.h
  libmbpatcher/include/mbpatcher/patchers/odinpatcher.h
  libmbpatcher/include/mbpatcher/patchers/ramdiskupdater.h
  libmbpatcher/include/mbpatcher/patchers/zippatcher.h
  libmbpatcher/include/mbpatcher/private/miniziputils.h
  libmbpatcher/src/cwrapper/cpatcherinterface.cpp
  libmbpatcher/src/patchers/odinpatcher.cpp
  libmbpatcher/src/patchers/ramdiskupdater.cpp
  libmbpatcher/src/patchers/zippatcher.cpp
  libmbpatcher/src/private/miniziputils.cpp
  mbtool/installer_util.cpp
  odinupdater/odinupdater.cpp
Labels: component/library/libmbcommon, component/library/libmbpatcher

#1192 Store DualBootPatcher properties in /dbp.prop instead of /default.prop
  mbtool/include/util/property_service.h
  mbtool/init.cpp
  mbtool/installer.cpp
  mbtool/mount_fstab.cpp
  mbtool/multiboot.h
  mbtool/properties.cpp
  mbtool/ramdisk_patcher.cpp
  mbtool/ramdisk_patcher.h
  mbtool/roms.cpp
Labels: component/tool/mbtool

#1198 Fix incorrect add_file() overload being called
  libmbpatcher/include/mbpatcher/private/fileutils.h
  libmbpatcher/include/mbpatcher/private/miniziputils.h
  libmbpatcher/src/patchers/odinpatcher.cpp
  libmbpatcher/src/patchers/ramdiskupdater.cpp
  libmbpatcher/src/patchers/zippatcher.cpp
  libmbpatcher/src/private/fileutils.cpp
  libmbpatcher/src/private/miniziputils.cpp
  mbtool/utilities.cpp
Labels: component/library/libmbpatcher, component/tool/mbtool

#1189 Fix same ID with Huawei P8 series.
  data/devices/huawei.yml
Labels: component/device

#1190 devices: Add Xiaomi Redmi 5A & Note 5A - Nextbit Robin
  data/devices/CMakeLists.txt
  data/devices/nextbit.yml
  data/devices/xiaomi/03_redmi.yml
  data/devices/xiaomi/05_other.yml
Labels: component/device, kind/device-request

#1195 add device Sony Xperia Z5 Premium supported
  data/devices/sony.yml
Labels: component/device, kind/device-request

#1200 Fix parsing of /proc/cmdline
  libmbutil/src/file.cpp
  mbtool/init.cpp
Labels: component/library/libmbutil, component/tool/mbtool

#1202 mbtool: installer_util.cpp: Choose a temp dir that always exists
  mbtool/installer_util.cpp
Labels: component/tool/mbtool

#1203 mbtool: installer_util.cpp: Switch cwd instead of hardcoding temp dir
  mbtool/installer_util.cpp
Labels: component/tool/mbtool

#1160 Add RGxS5 to Cherry Mobile Flare S5 codenames
  data/devices/cherrymobile.yml
Labels: component/device, kind/device-request

#1116 Add Huawei P8 support
  data/devices/huawei.yml
Labels: component/device, kind/device-request

#1130 data: Add HUAWEI MT7-CL00
  data/devices/huawei.yml
Labels: component/device, kind/device-request

#1205 Fixed wrong codenames
  data/devices/huawei.yml
Labels: component/device, kind/device-request

#1089 add support for Xiaomi Redmi 5 (rosy)
  data/devices/xiaomi/03_redmi.yml
Labels: component/device, kind/device-request

#1098 Add some lava devices
  data/devices/lava.yml
Labels: component/device, kind/device-request

#1045 support for oppo r9m
  data/devices/oppo.yml
Labels: component/device, kind/device-request

#1047 kiwi: Fix part paths
  data/devices/huawei.yml
Labels: component/device

#1051 Add support for the Motorola g5s plus
  data/devices/motorola.yml
Labels: component/device, kind/device-request

#1053 Added j5 2016 support
  data/devices/samsung/02_galaxy_a_j.yml
Labels: component/device, kind/device-request

#1206 Android GUI: Update translations from Transifex
  Android_GUI/res/values-ar/strings.xml
  Android_GUI/res/values-az/strings.xml
  Android_GUI/res/values-de/strings.xml
  Android_GUI/res/values-es/strings.xml
  Android_GUI/res/values-fr/strings.xml
  Android_GUI/res/values-hr/strings.xml
  Android_GUI/res/values-id-rID/strings.xml
  Android_GUI/res/values-it/strings.xml
  Android_GUI/res/values-iw/strings.xml
  Android_GUI/res/values-pl-rPL/strings.xml
  Android_GUI/res/values-pt-rBR/strings.xml
  Android_GUI/res/values-pt-rPT/strings.xml
  Android_GUI/res/values-ru-rRU/strings.xml
  Android_GUI/res/values-ru/strings.xml
  Android_GUI/res/values-tr/strings.xml
  Android_GUI/res/values-vi/strings.xml
  Android_GUI/res/values-zh-rCN/strings.xml
  Android_GUI/res/values-zh-rHK/strings.xml
  Android_GUI/res/values-zh-rTW/strings.xml
  Android_GUI/res/values-zh/strings.xml
Labels: kind/translations

#1090 Add GALAXY ACE 4 (SM-G316HU)
  data/devices/samsung/03_galaxy_ace.yml
Labels: component/device, kind/device-request

#1061 Added support for Micromax Canvas Nitro devices
  data/devices/micromax.yml
Labels: component/device, kind/device-request

#1097 add meizu M6 Note Support
  data/devices/meizu.yml
Labels: component/device, kind/device-request

#1104 Add support for Honor 8 Lite(P8 Lite 2017)(PRAgue series device)
  data/devices/huawei.yml
Labels: component/device, kind/device-request

#1105 Update htc.yml
  data/devices/htc.yml
Labels: component/device, kind/device-request

#1143 Add the Homtom HT10 to the list of supported devices
  data/devices/CMakeLists.txt
  data/devices/homtom.yml
Labels: component/device, kind/device-request

#1177 Update 02_galaxy_a_j.yml and add the device samsung galaxy a7 2017
  data/devices/samsung/02_galaxy_a_j.yml
Labels: component/device, kind/device-request

#1196 Add device Xiaomi Redmi note 5 supported
  data/devices/xiaomi/04_redmi_note.yml
Labels: component/device, kind/device-request

#1207 huawei.yml: Fix syntax error that does fail with yaml-cpp
  data/devices/huawei.yml
Labels: component/device

#1213 Add CMCC M836
  data/devices/CMakeLists.txt
  data/devices/cmcc.yml
Labels: component/device, kind/device-request

#1212 devices: lg: Add LG-LS998
  data/devices/lg.yml
Labels: component/device, kind/device-request

#1223 mbtool: Don't use legacy properties unless they're supported
  mbtool/installer.cpp
Labels: component/tool/mbtool

#1217 Fix boot UI configuration for Nextbit Robin
  data/devices/nextbit.yml
Labels: component/device

#1214 Fix block device paths for Galaxy Ace 4
  data/devices/samsung/03_galaxy_ace.yml
Labels: component/device

#1226 Android GUI: Update translations from Transifex
  Android_GUI/res/values-de/strings.xml
  Android_GUI/res/values-es/strings.xml
Labels: kind/translations

#1227 mbtool: Fix boot image corruption caused by reading and writing to the same file
  Android_GUI/src/com/github/chenxiaolong/dualbootpatcher/socket/MbtoolUtils.kt
  mbtool/installer.cpp
  mbtool/installer_util.cpp
  mbtool/installer_util.h
Labels: component/tool/mbtool
