Repository chenxiaolong/DualBootPatcher, pull requests merged in 2018-02, with the labels that each got.

#1021 libmbsparse: Fix incorrect file offset when skipping bytes in unseekable source file
  libmbsparse/src/sparse.cpp
  libmbsparse/tests/test_sparse.cpp
Labels: component/library/libmbsparse

#1022 libmblog: Shorten log level text
  libmblog/src/logging.cpp
Labels: component/library/libmblog

#1019 data: Meizu M2 update
  data/devices/meizu.yml
Labels: component/device

#1023 mbtool: Cache version and build properties during installation
  mbtool/daemon_v3.cpp
  mbtool/installer.cpp
  mbtool/installer.h
  mbtool/romconfig.cpp
  mbtool/romconfig.h
Labels: component/tool/mbtool

#1024 libmbutil: Replace time functions with std::chrono where possible
  libmbutil/include/mbutil/path.h
  libmbutil/include/mbutil/time.h
  libmbutil/src/path.cpp
  libmbutil/src/time.cpp
  mbbootui/gui/blanktimer.cpp
  mbbootui/gui/blanktimer.hpp
  mbbootui/gui/gui.cpp
  mbbootui/twrp-functions.cpp
  mbtool/appsync.cpp
  mbtool/backup.cpp
  mbtool/emergency.cpp
  mbtool/installer.cpp
  mbtool/mount_fstab.cpp
Labels: component/library/libmbutil

#1025 libmbdevice: Fix unnecessary calls to Document::GetAllocator()
  libmbdevice/src/json.cpp
Labels: component/library/libmbdevice

#1027 Add Gionee F103 - Samsung Galaxy J7 (2017) (Exynos) devices & cherrymobile Touch XL 2 codename
  data/devices/cherrymobile.yml
  data/devices/gionee.yml
  data/devices/samsung/02_galaxy_a_j.yml
Labels: component/device, kind/device-request

#1030 Remove /sbin tmpfs mount and work around Magisk installer race condition on slow devices
  libmbpatcher/src/autopatchers/magiskpatcher.cpp
  mbtool/installer.cpp
Labels: component/library/libmbpatcher, component/tool/mbtool

#1031 mbtool: Fix hanging boot when app sharing is disabled
  mbtool/init.cpp
Labels: component/tool/mbtool

#1032 mbtool: sepolpatch.cpp: Allow untrusted_app_25-labeled processes to talk to mb_exec-labeled sockets
  mbtool/sepolpatch.cpp
Labels: component/tool/mbtool

#1029 Add devices: Nubia NX595J - Galaxy Core Prime
  data/devices/nubia.yml
  data/devices/samsung/07_other.yml
Labels: component/device, kind/device-request

#1038 Add galaxy tab a6 t580 & t585
  data/devices/samsung/05_galaxy_tab_tablet.yml
Labels: component/device, kind/device-request

#1040 Add Honor5x support
  data/devices/huawei.yml
Labels: component/device, kind/device-request
